<%- partial('_pre') %>
<div class='l_main<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
  <% if (theme.plugins.slider.enable) { %>
    <%- partial('_third-party/slider/layout') %>
  <% } %>
  <%- partial('_partial/archive') %>
</div>
<%- partial('_partial/side') %>